@import "~font-awesome/css/font-awesome.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~mdbreact/dist/css/mdb.css";
.bg-indigo{background: #4b0082;}
.full-height{height: 100vh;}
/* Login or Home page css */
.form-gradient .font-small {
  font-size: 0.8rem; }

.form-gradient .header {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem; }

.form-gradient input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  -webkit-box-shadow: 0 1px 0 0 #fd9267;
  box-shadow: 0 1px 0 0 #fd9267; }

.form-gradient input[type=text]:focus:not([readonly]) + label {
  color: #4f4f4f; }

.form-gradient input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  -webkit-box-shadow: 0 1px 0 0 #fd9267;
  box-shadow: 0 1px 0 0 #fd9267; }

.form-gradient input[type=password]:focus:not([readonly]) + label {
  color: #4f4f4f; }
/* Gradients */
.purple-gradient {
  background: -webkit-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
  background: -o-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
  background: linear-gradient(40deg,#ff6ec4,#7873f5)!important
}

.peach-gradient {
  background: -webkit-linear-gradient(50deg,#ffd86f,#fc6262)!important;
  background: -o-linear-gradient(50deg,#ffd86f,#fc6262)!important;
  background: linear-gradient(40deg,#ffd86f,#fc6262)!important
}

.aqua-gradient {
  background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
  background: -o-linear-gradient(50deg,#2096ff,#05ffa3)!important;
  background: linear-gradient(40deg,#2096ff,#05ffa3)!important
}

.blue-gradient {
  background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
  background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
  background: linear-gradient(40deg,#45cafc,#303f9f)!important
}

.purple-gradient-rgba {
  background: -webkit-linear-gradient(50deg,rgba(255,110,196,.9),rgba(120,115,245,.9))!important;
  background: -o-linear-gradient(50deg,rgba(255,110,196,.9),rgba(120,115,245,.9))!important;
  background: linear-gradient(40deg,rgba(255,110,196,.9),rgba(120,115,245,.9))!important
}

.peach-gradient-rgba {
  background: -webkit-linear-gradient(50deg,rgba(255,216,111,.9),rgba(252,98,98,.9))!important;
  background: -o-linear-gradient(50deg,rgba(255,216,111,.9),rgba(252,98,98,.9))!important;
  background: linear-gradient(40deg,rgba(255,216,111,.9),rgba(252,98,98,.9))!important
}

.aqua-gradient-rgba {
  background: -webkit-linear-gradient(50deg,rgba(32,150,255,.9),rgba(5,255,163,.9))!important;
  background: -o-linear-gradient(50deg,rgba(32,150,255,.9),rgba(5,255,163,.9))!important;
  background: linear-gradient(40deg,rgba(32,150,255,.9),rgba(5,255,163,.9))!important
}

.blue-gradient-rgba {
  background: -webkit-linear-gradient(50deg,rgba(69,202,252,.9),rgba(48,63,159,.9))!important;
  background: -o-linear-gradient(50deg,rgba(69,202,252,.9),rgba(48,63,159,.9))!important;
  background: linear-gradient(40deg,rgba(69,202,252,.9),rgba(48,63,159,.9))!important
}
